<div class="container" style="padding-top: 50px;">
  <h1>Address
    <small>View information about a U Network Address</small>
  </h1>

  <div class="addressdiv" id="address-97785883">
    <table cellpadding="0" cellspacing="0" class="table table-striped"
           style="padding:0;float:left;margin:0;width:100%">
      <tbody>
      <tr>
        <th align="left" colspan="3">{{addressId}} <span class="pull-right"></span></th>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Balance</td>
        <td>{{balance}}</td>
      </tr>
      <tr>
        <td>Balance (UUU)</td>
        <td>{{balanceInEther}}</td>
      </tr>
      <tr ng:if="code != '0x0'">
        <td>Smart Contract Code</td>
        <td>
          <label>
            <textarea readonly="readonly">{{code}}</textarea>
          </label>
        </td>
      </tr>
      <tr ng:if="code != '0x0'">
        <td>Contract Transaction Count</td>
        <td>
          {{transactions}}
        </td>
      </tr>
      <tr ng:if="code == '0x0'">
        <td>Type</td>
        <td>Regular Address</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
