<div class="container" style="padding-top: 50px;">

    <h2 style="text-align:center;">Welcome to the U Network Wallet and Block Explorer!</h2>

    <div style="text-align:center; margin-top: 30px;">
      <a href="/#/newwallet" id="walogwrap" style="text-decoration: none">
        <button class="btn btn-primary walogbtn" style="padding-left: 30px; padding-right: 30px;" title="create a new wallet">Create New Wallet</button>
      </a>
      <a href="/#/mywallet" id="walogwrap" style="margin-left: 20px; text-decoration: none">
        <button class="btn btn-default walogbtn" style="padding-left: 30px; padding-right: 30px;" title="go to my wallet"> ➤ Login My Wallet</button>
      </a>
    </div>

    <h5 style="text-align:left; margin-top: 30px;">
      <a href="/#/block/{{blockNum}}">Latest Block: {{blockNum}}</a>
    </h5>

    <table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:0px;width:100%">
      <tbody>
        <tr>
          <th>Block #</th>
          <th>hash</th>
          <th>Txs</th>
          <th>Size</th>
          <th>Time</th>
        </tr>
        <tr data-ng-repeat="i in blocks">
          <td><a href="/#/block/{{i.number}}">{{i.number}}</a></td>
          <td>{{i.hash}}</td>
          <td>{{i.transactions.length}}</td>
          <td>{{i.size}}</td>
          <td title="{{i.timestamp}}">{{i.timeshow}}</td>
        </tr>
      </tbody>
    </table>

</div>
