<div class="container" style="padding-top: 50px;">

  <h3 style="text-align: left">Deploy Your Contract Code</h3>


  <div id="compile" style="display: block;">

    <div class="row" style="width: 100%; margin: 0; padding-top: 15px;">
      <div class="col-md-6" style="padding: 0 7px 0 0;">
        <form ng-submit="compileContract()">
          <div style="display: block; margin-top: 20px;">
            <input style="" type="text" class="form-control" placeholder="Contract Name ..." ng-model="contract_name" required />
          </div>
    
            <div style="display: block; margin-top: 20px;">
              <textarea style="min-height: 400px;" type="text" class="form-control" placeholder="Your Solidity Contract Source Code ..." ng-model="source_code" required ></textarea>
            </div>
              
          <div style="display: block; margin-top: 30px;">
            <button  class="btn btn-primary" type="submit">Compile</button>
          </div>
    
        </form>
      </div>
      <div class="col-md-1" style="padding: 0 7px 0 0;">
      </div>
      <div class="col-md-5" style="padding: 0 7px 0 0;">
        <h4 style="color: #999;">Your Deployment:</h4>

        <ul class="deployments" style="list-style: none; padding-left: 0px;">
          <li data-ng-repeat="i in deployments" id="{{i.transactionHash}}" style="position: relative; margin: 15px 0px; padding-top: 10px; border-top: solid 1px #ddd;">
            <p style="margin: 0">
              <span style="color: #999; margin-right: 10px;">name: </span>
              <b>{{i.name}}</b>
            </p>
            <p style="margin: 0">
              <span style="color: #999; margin-right: 10px;">transaction hash:</span><br>
              <a style="word-break: break-all; font-size: 13px;" href="/transaction/{{i.transactionHash}}">{{i.transactionHash}}</a>
            </p>
            <p style="margin: 0">
              <span style="color: #999; margin-right: 10px;">contract address:</span><br>
              <span style="color: #666; word-break: break-all; font-size: 13px;">{{i.contractAddress}}</span>
            </p>
          </li>
        </ul>
        <p style="display: none; color: #bbb; text-align: center;">no datas</p>


      </div>
    </div>

  </div>


  <div id="deploy" style="display: none;">

      <p class="bg-info" style=" margin: 20px 0; border-radius: 5px; padding: 10px 15px; color: cornflowerblue;">Compile Successfully !</p>

      <form ng-submit="deployContract()">
          <div style="display: block; margin-top: 20px;">
            <label>Contract Abi</label>
            <textarea style="min-height: 200px;"  type="text" class="form-control" ng-model="contract_abi" required disabled >{{contract_abi}}</textarea>
          </div>
    
          <div style="display: block; margin-top: 20px;">
            <label>Contract Bytecode</label>
            <textarea style="min-height: 200px;" type="text" class="form-control" ng-model="contract_bytecode" required disabled >{{contract_bytecode}}</textarea>
          </div>
          
          <div style="display: block; margin-top: 20px;">
            <label>Construction Arguments (format: json array)</label>
            <textarea style="min-height: 40px;" type="text" class="form-control" ng-model="contract_arguments" placeholder="[]" >{{contract_arguments}}</textarea>
          </div>
          
          <div style="display: block; margin-top: 20px;">
            <label>Gas Limit Set: </label>
            <input type="text" style="display: inline-block; width: 200px !important; margin-left: 20px;" placeholder="gas limit of contract" class="form-control" ng-model="gas_limit_set" required />
            <p style="display: inline-block; margin-left: 20px;" id="showufg"></p>
          </div>



          <div style="display: block; margin-top: 30px;">
            <div class="tiptext" style="padding-bottom: 10px;"><p style="color: #999;">Your Smart Contract will rapid deploy on the U Network after click the button below, and costs your UUU or Free Gas.</p></div>
            <button class="btn btn-primary" type="submit">Rapid Deploy</button>
            <button class="btn btn-default" type="button" ng-click="wrapShowSwap()" style="margin-left: 40px;"> ﹤ Back to Edit</button>
          </div>
    
        </form>



  </div>



</div>





<!-- Modal -->
<div class="modal fade" id="deploymentConfirmationModal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="padding: 40px;">
        <h3>Waiting for Confirmations...</h3>
        <p>The contract deployment transaction need to be confirmed on the U Network, please wait a moment.</p>
        <p>transaction hash: <span style="word-break: break-all; background:#eee; color:forestgreen;">{{confirmTrsHash}}</span></p>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
              1%
            </div>
          </div>
      </div>
    </div>
  </div>
  













